* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  padding: 0 25px;
  margin: 0px;
}

.header-logo {
  text-align: center;
  font-family: "Lucida Calligraphy";
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 0px;
}

.nav-list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 22px;
}

.top-wrapper {
  background-color: #eeeeee;
  text-align: center;
  padding: 40px 0px;
}

.top-wrapper h3 {
  margin: 40px 0px;
}

.btn-join {
  background-color: #418af9;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
}

.btn-wrapper {
  margin-bottom: 40px;
}

.courses-wrapper {
  padding: 45px 0px;
  border-bottom: 2px solid #dedede;
}

.heading {
  margin-bottom: 23px;
}

.heading h2 {
  padding: 0px 30px;
}

.courses {
  display: flex;
  justify-content: space-evenly;
}

.courses-box {
  background-color: #418af9;
  color: white;
  padding: 15px;
  margin: 0px 20px 35px 20px;
  width: 25%;
}

.courses-box p {
  margin-bottom: 10px;
}

.courses-box a {
  display: block;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

footer {
  padding: 0 30px;
}

.footer-logo {
  font-family: "Lucida Calligraphy";
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-right {
  display: flex;
}

.footer-list p {
  font-weight: bold;
  text-decoration: underline;
  padding-left: 40px;
}

.footer-list li {
  margin-bottom: 5px;
}

.footer-list a {
  text-decoration: none;
  color: #b3b3b3;
}
